Options +FollowSymLinks
RewriteEngine On

RedirectMatch 301 ^/archive.*$ http://tombevers.me/
RedirectMatch 301 ^/blog.*$ http://tombevers.me/
RedirectMatch 301 ^/category.*$ http://tombevers.me/
RedirectMatch 301 ^/author.*$ http://tombevers.me/about/
