Options +FollowSymLinks
RewriteEngine On
RewriteCond %{HTTP_HOST} !^tombevers\.me$ [NC]
RewriteRule ^(.*)$ http://tombevers.me/$1 [R=301,L]

RedirectMatch 301 ^/archive.*$ http://tombevers.me/
RedirectMatch 301 ^/blog.*$ http://tombevers.me/
RedirectMatch 301 ^/category.*$ http://tombevers.me/
RedirectMatch 301 ^/author.*$ http://tombevers.me/about/

<ifModule mod_headers.c>                                                                                                     
<filesMatch "\\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">                                                                        
Header set Cache-Control "max-age=2592000, public"                                                                           
</filesMatch>                                                                                                                
<filesMatch "\\.(css)$">                                                                                                     
Header set Cache-Control "max-age=604800, public"                                                                            
</filesMatch>                                                                                                                
<filesMatch "\\.(js)$">                                                                                                      
Header set Cache-Control "max-age=216000, private"                                                                           
</filesMatch>                                                                                                                
<filesMatch "\\.(xml|txt)$">                                                                                                 
Header set Cache-Control "max-age=216000, public, must-revalidate"                                                           
</filesMatch>                                                                                                                
<filesMatch "\\.(html|htm|php)$">                                                                                            
Header set Cache-Control "max-age=1, private, must-revalidate"                                                               
</filesMatch>                                                                                                                
</ifModule>
