<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  {% include head.html %}
  <body>
    {% include header.html %}
    {% if page.home %}
    <section class="jumbotron">
      <div class="container">
        <h1>Hello!</h1>
        <p>I am Tom Bevers a passionate webdeveloper based in Belgium and currently working for <a href="http://www.printconcept.com">PrintConcept.com</a>. I love building websites and web applications.</p>
      </div>
    </section>
    {% endif %}
    <section class="container content">
      {{ content }}
    </section>
    {% include footer.html %}
  </body>
</html>
